@charset "UTF-8";
/* 初始化 */
html{
	-webkit-text-size-adjust: none; width: 100%; height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	display: block;
}
@font-face { font-family: 'FZChaoCuHei'; src: url('FZChaoCuHei.ttf') format('truetype'); font-weight: normal; font-style: normal; }
body,div,ul,li,dt,dl,ol,p {margin:0;padding:0; border: none;}
li {list-style:none;}
img {border: none;width: 100%;}
.l{float:left;}
.r{float:right;}
.invisible{visibility:hidden;}
.absolute{position:absolute;top:0;left:0;}
.none {display:none;}
.opacity0{opacity:0;}
.ellipsis{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
a{ display:block;height:100%; width:100%; color:inherit; text-decoration:none;}

/* 公共 */
body {
	font-family:'微软雅黑',Arial ; background-color:#fff; overflow:hidden; 
	height: 100%; color:#414141; width: 100%; overflow: hidden;
	background-color: #e8f6ff;
	/* 
	background-image:-webkit-linear-gradient(top, #fef5f8, #b9e5f4);
 	background-image:-o-linear-gradient(top, #fef5f8, #b9e5f4);
	background-image:-webkit-linear-gradient(to bottom, #032660 0%, #2689be 40%, #00458c 100%);	 
	*/
}
.fullmask{
	width:100%;height:100%;background:#000;
	opacity:0; position:absolute;z-index:999;
}

/*pageloading*/
.pageloading{
	width:100%;height:100%; position:absolute; z-index:1998; top:0;left:0;
	background-color: #e8f6ff;
	/* background-image: -webkit-radial-gradient(ellipse, rgb(240, 238, 254),rgb(229, 225, 253));
	background-image: radial-gradient(ellipse, rgb(240, 238, 254),rgb(229, 225, 253)); */
}
.loader {width: 250px; height: 200px; position: absolute; top: 50%; left: 50%; margin:-100px 0 0 -125px;}
.loader .view{ width: 190px; height: 85px; margin: 0 auto; background-image: url(../img/view.png);}
.loader .loading{ width: 250px; height: 26px; margin: 20px 0 0 0; border-radius: 13px; border: 2px solid #c99c30; box-sizing: border-box;}
.loader .loading .fill{ width: 0px; height: 16px; margin: 3px; background-color: #c99c30; box-sizing: border-box; border-radius: 15px;
	background-image:-webkit-linear-gradient(left, #e1bd6a, #9c6f1a);
 	background-image:linear-gradient(left, #e1bd6a, #9c6f1a);
	background-image:-webkit-linear-gradient(to right, #e1bd6a 0%, #9c6f1a 100%);
	-webkit-transition: all 0.2s linear;
    		transition: all 0.2s linear;
}
.loader .msg{position: absolute; top: 145px;left: 0; z-index: 5; width: 100%; height: 100px;z-index: 1999; color: #eee; text-align: center;}
.loader .msg p{ line-height: 30px; font-size: 28px;}
.loader .msg p span{ font-size: 36px;}

.loader .msg_tips{ position: absolute; top: -120px; width: 240px; left: 20px; line-height: 80px; color: #fffeff; font-size: 30px; }

/*** main ***/
.keyview{ width: 100%; height: 100%; top: 0; left: 0; background-image: url(../img/bg.jpg); z-index: 20; background-size: cover; overflow: hidden;}
.keyview .x6tle{ width: 640px; height: 280px; background-image: url(../img/keyview.png); background-position: 0 0;}
.keyview .x6view{ width: 640px; height: 680px; background-image: url(../img/keyview.png); background-position: 0 -280px;}


.logo{background-image: url(../img/logo.jpg); width: 140px; height: 140px; z-index: 100; position: absolute; top: 0; left: 68px; background-size: 100% 100%; }
.main{ margin: 0 auto; overflow:hidden; height: 100%; position: relative;	-webkit-perspective: 1000;}

.swiper-container { height: 100%; margin: 0 auto; position: relative; overflow: hidden; z-index: 1;}
.swiper-slide { width: 640px; height: 1080px; overflow: hidden; position: relative; float: left; background-image: url(../img/bg.jpg); background-size: cover; }
 
.swiper-slide .page{ position: absolute; width: 640px; height: 960px; top: 50%; left: 50%; margin: -480px 0 0 -320px; background-size: cover; background-position: center center; overflow: hidden;}
.swiper-slide .page:nth-child(1) {z-index: 1;}
.swiper-slide .page:nth-child(2) {z-index: 2;}
.swiper-slide .page:nth-child(3) {z-index: 3;}
.page.home	{ background-image: url(../img/home.jpg);}
.page.rule	{ background-image: url(../img/rule.png);}
.page.x6 	{ background-image: url(../img/x6.png); }
.page.submit{ background-image: url(../img/submit.png);}
.page.success{background-image: url(../img/success.png);}
.page.verify	{ background-image: url(../img/verify.png);}
.page.register{background-image: url(../img/register.png);}

.home .go_rule{ width: 160px; height: 60px; top: 575px; left: 160px; cursor: pointer;}
.home .go_x6{ width: 160px; height: 60px; top: 575px; left: 345px; cursor: pointer;}
.home .go_submit{ width: 255px; height: 90px; top: 733px; left: 198px; cursor: pointer;}

.goback{ width: 182px; height: 64px; position: absolute; z-index: 20; cursor: pointer;}
.btn { border: 2px solid #b18b5e; line-height: 60px; text-align: center; font-size: 30px; box-sizing: border-box; color: #b18b5e;border-radius: 10px; background-color: rgba(255,255,255,.45); cursor: pointer;}
.rule .goback{ bottom: 92px; left: 234px;}
.goback_x6{ bottom: 50px; right: 24px; }
.success .goback{ bottom: 225px; left: 231px;}

.submit .infoform{ width: 400px; height: 320px; margin: 330px auto 0; overflow: hidden;}
.infoform .infoBox{ width: 315px; height: 54px; margin-left: 80px; margin-top: 27px;}
.infoform input,
.infoform select{ 
	font-size: 32px; line-height: 46px; width: 90%; height: 100%; 
	padding: 0 5%; border: none; background-color: transparent; 
	-webkit-appearance: none; -webkit-tap-highlight-color:rgba(255,255,255,0); 
}
.infoform .nameBox{ margin-top: 14px;}
.infoform .provinceBox{ margin-top: 28px;}
.submit .operate{ height: 64px; margin-top: 31px;}
.submit .operate .submit_btn{ width: 135px; height: 64px; margin-left: 200px;}
.submit .operate .goback{ width: 135px; height: 64px; margin-left: 48px; position: relative;}
.submit .reget{ width: 220px; height: 64px; margin: 140px auto 0; font-size: 26px;}


.registerform{ width: 400px; height: 394px; margin: 261px auto 0; overflow: hidden;}
.registerform .infoBox{ width: 386px; height: 54px; margin-left: 13px; margin-top: 38px;}
.registerform input,
.registerform select{ 
	font-size: 32px; line-height: 46px; width: 90%; height: 100%; 
	padding: 0 5%; border: none; background-color: transparent; 
	-webkit-appearance: none; -webkit-tap-highlight-color:rgba(255,255,255,0); 
}
.register .operate{ margin-top: 43px;}
.register .operate .submit_btn{ width: 160px; height: 64px; margin: 0 auto;}

.verify .verifyform{ width: 400px; height: 265px; margin: 316px auto 0; overflow: hidden;}
.verifyform .typeBox{ height: 60px; margin-top: 8px; text-align: center;}
.verifyform .typeBox .verifytype{ width: 160px; height: 60px; margin-left: 12px; 
	color: #ab804c; text-align: center; line-height: 60px; font-size: 26px;
	box-sizing: border-box; border: 2px solid #ab804c; border-radius: 8px; display: inline-block;
}
.verifyform .typeBox .verifytype.on{ background-color: #ab804c; color: #fff; box-shadow: inset 0px 0px 10px #fff;}
.verifyform .typeBox .type2{ margin-left: 60px;}
.verifyform .verifyBox{ width: 386px; height: 54px; margin-left: 13px; margin-top: 34px;}
.verifyform input{
	font-size: 32px; line-height: 46px; width: 84%; height: 100%; 
	padding: 0 8%; border: none; background-color: transparent; 
	-webkit-appearance: none; -webkit-tap-highlight-color:rgba(255,255,255,0); 
}
.verify .operate{ margin-top: 43px;}
.verify .operate .submit_btn{ width: 160px; height: 64px; margin: 0 auto;}
.verify .operate .resend{ width: 240px; height: 64px; margin: 50px auto 0;}


.animated .lineInLeft{
	        animation-duration: 3s;
	-webkit-animation-duration: 3s;
        	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
          	animation-name: lineInLeft;
	-webkit-animation-name: lineInLeft;
}
.animated .lineInRight{
	          animation-duration: 3s;
	  -webkit-animation-duration: 3s;
        	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
          	animation-name: lineInRight;
	-webkit-animation-name: lineInRight;
}
.animated.fadeOut{
        	animation-delay: 3s;
  	-webkit-animation-delay: 3s;
        	animation-duration: 1s;
  	-webkit-animation-duration: 1s;
          	animation-name: fadeOut;
	-webkit-animation-name: fadeOut;
        	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
          	animation-timing-function: linear;
  	-webkit-animation-timing-function: linear;
}


@-webkit-keyframes lineInLeft {
  0% {
    -webkit-transform: translate3d(-640px, 0, 0);
            transform: translate3d(-640px, 0, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: translate3d(-40px, 0, 0);
            transform: translate3d(-40px, 0, 0);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  90% {
    -webkit-transform: translate3d(40px, 0, 0);
            transform: translate3d(40px, 0, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(640px, 0, 0);
            transform: translate3d(640px, 0, 0);
  }
}
@keyframes lineInLeft {
  0% {
    -webkit-transform: translate3d(-640px, 0, 0);
            transform: translate3d(-640px, 0, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: translate3d(-40px, 0, 0);
            transform: translate3d(-40px, 0, 0);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  90% {
    -webkit-transform: translate3d(40px, 0, 0);
            transform: translate3d(40px, 0, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(640px, 0, 0);
            transform: translate3d(640px, 0, 0);
  }
}

@-webkit-keyframes lineInRight {
  0% {
    -webkit-transform: translate3d(640px, 0, 0);
            transform: translate3d(640px, 0, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: translate3d(40px, 0, 0);
            transform: translate3d(40px, 0, 0);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  90% {
    -webkit-transform: translate3d(-40px, 0, 0);
            transform: translate3d(-40px, 0, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(-640px, 0, 0);
            transform: translate3d(-640px, 0, 0);
  }
}
@keyframes lineInRight {
  0% {
    -webkit-transform: translate3d(640px, 0, 0);
            transform: translate3d(640px, 0, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: translate3d(40px, 0, 0);
            transform: translate3d(40px, 0, 0);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  90% {
    -webkit-transform: translate3d(-40px, 0, 0);
            transform: translate3d(-40px, 0, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(-640px, 0, 0);
            transform: translate3d(-640px, 0, 0);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}